/sample_1/.gitignore
/sample_1/app
/sample_1/config
/sample_1/db
/sample_1/doc
/sample_1/lib
/sample_1/log
/sample_1/public
/sample_1/script
/sample_1/test
/sample_1/tmp
/sample_1/vendor
/sample_1/config.ru
/sample_1/Gemfile
/sample_1/Gemfile.lock
/sample_1/Rakefile
/sample_1/README.rdoc

