html {
  font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
}

body {
  max-width: 1000px;
  height: 100%;
  margin: 0px auto;
}

.wapper {
  margin: 20px;
}

.header_top {
  margin: 20px;
  
  .title {
    font-size: 2em;

    a, a:visited {
      text-decoration: none;
      color: #595757;
    }
    
    a:hover {
      color: #A9A9A9;
    }
  }

  .personal {
    float: right;

    a, a:visited {
      vertical-align: middle;
      border: solid 1px #595757;
      border-radius: 8px;
      padding: 4px 8px;
      text-decoration: none;
      color: #595757;
    }
    
    a:hover {
      color: white;
      background: #A9A9A9;
    }
  }
}

div.errors {
  margin: 20px 0;
  border: solid 2px #DD0000;
  border-radius: 8px;
  padding: 4px 8px;
  color: #DD0000;
}
