table {
  border-collapse: collapse;

  tr {
    th {
      border: solid 1px #999999;
      padding: 5px;
      background: #cccccc;
    }

    td {
      border: solid 1px #999999;
      padding: 5px;
    }
  }
}
