<%
  branches = []
  `git branch -a`.split('\n').each do |b|
    next if b.index('gh-pages')
    next unless b.index('remotes/origin/')
    branches << b.strip.sub('remotes/origin/', '')
  end
%>
<% branches.each do |b| %>
  <%
    title = (b == 'master' ? '最新' : 'PHASE-' + b.gsub(/[a-zA-Z]*/, ''))
  %>
  <h3><a href="../<%= b %>/index.html"><%= title %></a></h3>
<% end %>
