<%
  load File.dirname(File.dirname(__FILE__)) + '/git/git_utils.rb'
-%>
<% Daddy::Git::GitUtils.get_branches.each do |b| %>
  <ol>
    <% title = (b == 'master' ? '最新' : 'スプリント ' + b.gsub(/[a-zA-Z]*/, '')) %>
    <li class="sprint">
      <%= title %>
    </li>
    <li class="sprint sub_menu">
      <a href="../<%= b %>/index.html">仕様書</a>
    </li>
    <li class="sprint sub_menu">
      <a href="../<%= b %>/diary.html">開発日記</a>
    </li>
    <li class="sprint sub_menu">
      <a href="../<%= b %>/coverage/rcov/index.html" target="_blank">カバレッジ</a>
    </li>
  </ol>
<% end %>
