.datepicker {
  width: 6em;
  text-align: center;
}

.ui-datepicker {
  select.ui-datepicker-year {
    margin-right: 0.5em;
    width: auto;
  }
  select.ui-datepicker-month {
    margin-left: 1em;
    width: auto;
  }
}

.ui-widget {
  font-size: 1em;
}
